* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: #4E4E6A;
}

/*=======ICONS=========*/
.icon-large {
  font-size: 225px !important;
  display: inline-block;
}

/*=======DISPLAY=========*/
.center-this {
  display: inline-block;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

/*=======MAIN-NAV=========*/
.mainnav-wrapper {
  background: none;
  box-shadow: none;
}

/*=======BANNER=========*/
.banner-wrapper {
  margin: 7.5% 0 12.5%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  background: #7be5ed;
  padding: 0;
}

.banner-wrapper h1 {
  text-transform: uppercase;
  font-weight: 500;
}

img {
  max-height: 350px;
  padding: 0;
}

/*=======PASTE_INFO=========*/
.pasteinfo-wrapper {
  margin: 12.5% 0;
  padding: 5em 2em;
  background: #4E4E6A;
  color: white;
}

/*=======PASTE_LIST=========*/
.pastelist-wrapper {
  margin: 12.5% 0;
  background: #7be5ed;
}

/*=======PASTE_DETAIL=========*/
.pastedetail-wrapper {
  display: inline-block;
  min-height: 350px;
  min-width: 22.5%;
  background: rgba(0, 0, 0, 0.3);
  margin: 1.25%;
  padding: 0;
  border-radius: 4px;
  border: 2px solid white;
}

.pastedetail-wrapper h4 {
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
