.nav-styles {
  background: #e57373;
}

.push-left {
  margin-left: 2rem !important;
}

.push-right {
  margin-right: 2rem !important;
}

.push-x {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.push-y {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.text-center {
  text-align: center;
}

.btn-block {
  display: block;
}
